wheel
aiohttp
aiofiles
aria2p
async_generator
cowpy
psutil
wget
TgCrypto
cffi
dnspython
emoji
PyPDF2
cryptg
patool
gitpython
asyncurban
google-api-python-client
google-auth-oauthlib
googletrans
google_images_download
googletrans
gsearch
gTTS
gTTS-token
hachoir
REPO_LINK
heroku3
html_telegraph_poster
jikanpy
pendulum	
httplib2
humanize 
lxml
oauth2client
Pillow
regex
psycopg2
psycopg2-binary
pybase64
pylast
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
requests
search-engine-parser
speedtest-cli
sqlalchemy
telethon
glitch_this
telethon-session-sqlalchemy
urbandict
wikipedia
coffeehouse
git+https://github.com/johnwmillr/LyricsGenius.git
git+https://github.com/voins/google-images-download.git@2cd68173c961324a2c41c61e8b6f40a49663ce60
 git+https://github.com/LonamiWebs/Telethon
lyricsgenius
redis
PyDrive2
pyDownload
beautifulsoup4
youtube-dl
PyGithub
bs4
covid
base
pip
setuptools
selenium
# SpeechRecognition>=3.4.6
# wheel>=0.30.0a0
telegraph
python-dateutil
pyfiglet   
jotquote
csvfaker
git+https://github.com/ahupp/python-magic
pytube
pymongo[srv]
youtube_search
justwatch
deezloader
zipfile38
bitlyshortener
geopy
validators
twitter_scraper
pyaztro
